:root {
    --fullscreen-width: calc(100%/6);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.mini-container {
    max-width: 920px;
    margin: auto;
}

nav {
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: white;
}

header {
    padding-top: 60px;
    background-color: #b4d0e7;
    width: 100vw;
}

h1 {
    font-size: 65px;
}

button {
    padding: 0.5rem 0.7rem;
    border: none;
    background-color: #0061ff;
    color: white;
    overflow: auto;
    cursor: pointer;
    min-width: 80px;
}

section>div {
    padding: 50px 0px;
    width: 100vw;
}

h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-container ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}


.left-nav {
    display: flex;
    align-items: center;
}

.logo {
    padding: 1rem;
}


.nav-container ul li {
    padding: 0.7rem 0.5rem;
    vertical-align: middle;
}

.nav-container ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-container {
    display: flex;
    padding-top: 50px;
}

.move {
    position: relative;
    top: 70px;
}

.flex-shorter {
    width: 30%;
}

.flex-shorter>* {
    margin-bottom: 1rem;
}

.fa-arrow-down {
    font-size: 40px;
    margin-top: 100px;
}

.flex-longer {
    width: 70%;
}

.flex-longer img {
    width: 100%;
}

.billing {
    display: inline-block;
    vertical-align: middle;
}

.radio {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #0061ff;
    position: relative;
    vertical-align: middle;
}

.fa-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.7rem;
}

.month,
.year {
    display: inline-block;
}

.year {
    margin-left: 15px;
}

.year .radio {
    background-color: #d2d2d5;
}

.year .radio .fa-circle {
    font-size: 1rem;
}

.subscription-container {
    padding-top: 50px;
    display: flex;
    column-gap: 2rem;

}

.subscription {
    border: 1px solid #d2d2d5;
    width: 30%;
    flex-grow: 1;
    min-width: 100px;
}

.type {
    text-align: center;
    border-bottom: 1px solid #d2d2d5;
    padding: 0.5rem;
}

.description-container {
    padding: 2rem 1.5rem;
}

.description-container>* {
    margin-bottom: 2rem;
    display: block;
}


.description-cost>* {
    margin-bottom: 0.5rem;
}

.description-container ul li {
    padding: 0.5rem 0rem;
    list-style: none;
}

.description-container ul li span {
    padding-left: 0.3rem;
}

.cost {
    font-weight: bold;
}

.type-cost {
    color: #7585b2;
}

.description-container button {
    width: 100%;

}

.hr {
    width: 20%;
    height: 1px;
    background-color: #d2d2d5;
    display: inline-block;
}

.fa-check {
    color: #0061ff;
}

.team {
    display: flex;
}

.team .flex-shorter {
    text-align: center;
    width: 30%;
    margin-left: 2rem;
}

.flex-longer p {
    margin: 0;
}

.subscription-team {
    width: 100%;
    border: 1px solid #d2d2d5;
}

.section-fix {
    padding-top: 0;
}

.flex-long {
    width: 60%;
}

.flex-long img {
    width: 100%;
}

.flex-short {
    width: 40%;
    padding: 3rem 3rem;
}

.flex-short>* {
    margin-bottom: 1rem;
}

.flex-short>button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.card {
    width: calc((100% / 3) - 2rem);
    flex-grow: 1;
    margin: 2rem 0rem;
}

.card>img {
    display: block;
    width: 100%;
}

.card>* {
    margin-bottom: 1rem;
}

.section-fullwidth {
    display: flex;
}


.cubes-container {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

[class*=cube-] {
    width: calc((100vw / 6) - 1rem);
    height: calc(100vw / 6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;

}

[class*=cube-] img {
    width: 50%;
    color: white;
}

.cube-1 {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.cube-2 {
    background-color: #61082b;
}

.cube-3 {
    background-color: #0093ce;
}

.cube-4 {
    background-color: #ff1c1c;
}

.svg-middle-container {
    padding: 0rem 2rem;
    background-color: #f5f5f5;
    overflow: auto;
    height: auto;
    width: calc(100vw / 3);
}

.svg-middle-container svg {
    width: 50%;
}

.svg-middle-container>* {
    margin-bottom: 1.5rem;
}

.cube-5 {
    background-color: #d5001f;
}

.cube-6 {
    background-color: #b4d0e7;
}

.cube-7 {
    background-color: #0d2481;
}

.cube-8 {
    background-color: #ffd830;
}

.banner {
    background-color: #b4d0e7;
    margin-top: -50px;
}

.text-banner-container {
    display: flex;
    align-items: center;
}

.text-banner-container .flex-long h2 {
    color: #61082b;
    margin: 0;
}

.flex-short .btn-banner {
    width: 100%;
    border: none;

}

.q-and-a h3 {
    margin: 2rem 0rem;
    display: inline-block;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question i {
    padding: 2rem;
}

.q-and-a-title {
    margin: 2em 0em;
}

.hr-question {
    width: 100%;
    height: 1px;
    background-color: #999999;
}

footer {
    padding-top: 50px;
    background-color: #000000;
    color: white;
    width: 100%;
}

footer ul li:first-child {
    list-style: none;
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 20px;
}

footer ul li {
    margin: 0.5rem 0rem;
    list-style: none;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lists-container {
    display: flex;
    column-gap: 2rem;
    padding-bottom: 50px;
}

footer ul {
    flex-grow: 1;
}

.country {
    padding: 2rem 0rem;
}

.country>* {
    display: inline-block;
}