* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: auto;

}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.mini-container {
    max-width: 920px;
    margin: auto;
}

nav {
    height: 60px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
}

header {
    padding-top: 60px;
    background-color: #b4d0e7;
    width: 100%;
    min-height: 30vh;
}

h1 {
    font-size: 65px;
}

button {
    padding: 0.5rem 0.7rem;
    border: none;
    background-color: #0061ff;
    color: white;
    overflow: auto;
    cursor: pointer;
    min-width: 80px;
    margin-right: 1rem;
}

button:hover {
    filter: invert(0.1);
    transition: all .5s;
}

section>div {
    padding: 50px 0px;
    width: 100%;
}

h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px
}

.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;

}

.logo-container {
    margin-right: 10px;
}

.list-container {
    height: 100%;
}

.list-container>ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.list-container>ul>li {
    position: relative;
    background-color: white;
}


.list-container>ul>li a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0rem 1rem;
    text-decoration: none;
    color: #000000;
    position: relative;
    z-index: 1;
}

.list-container>ul>li a:not(:hover) {
    background-color: white;
}

.list-container>ul>li a:hover {
    background-color: #f2eee8;
    z-index: 2;
}

.right-nav {
    display: flex;
    height: 100%;
    align-items: center;
}


.header-container {
    display: flex;
    padding-top: 50px;
}

.move {
    position: relative;
    top: 70px;
}

.flex-shorter {
    width: 30%;
}

.flex-shorter>* {
    margin-bottom: 1rem;
}

.fa-arrow-down {
    font-size: 40px;
    margin-top: 100px;
    padding-bottom: 70px;
}

.flex-longer {
    width: 70%;
}

.flex-longer img {
    width: 100%;
    display: block;
}

.billing {
    display: inline-block;
    vertical-align: middle;
}

/* QUI VA IL RADIO  */

.subscription-container {
    padding-top: 50px;
    display: flex;
    column-gap: 2rem;

}

.subscription {
    border: 1px solid #d2d2d5;
    width: 30%;
    flex-grow: 1;
    min-width: 100px;
}

.type {
    text-align: center;
    border-bottom: 1px solid #d2d2d5;
    padding: 0.5rem;
}

.description-container {
    padding: 2rem 1.5rem;
}

.description-container>* {
    margin-bottom: 2rem;
    display: block;
}


.description-cost>* {
    margin-bottom: 0.5rem;
}

.description-container ul li {
    padding: 0.5rem 0rem;
    list-style: none;
}

.description-container ul li span {
    padding-left: 0.3rem;
}

.cost {
    font-weight: bold;
}

.type-cost {
    color: #7585b2;
}

.description-container button {
    width: 100%;

}

.hr {
    width: 20%;
    height: 1px;
    background-color: #d2d2d5;
    display: inline-block;
}

.fa-check {
    color: #0061ff;
}

.team {
    display: flex;
}

.team .flex-shorter {
    text-align: center;
    width: 30%;
    margin-left: 2rem;
}

.flex-longer p {
    margin: 0;
}

.subscription-team {
    width: 100%;
    border: 1px solid #d2d2d5;
}

.section-fix {
    padding-top: 0;
}

.flex-long {
    width: 60%;
}

.flex-long img {
    width: 100%;
    display: block;
}

.flex-short {
    width: 40%;
    padding: 3rem 3rem;
}

.flex-short>* {
    margin-bottom: 1rem;
}

.flex-short>button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.card {
    width: calc((100% / 3) - 2rem);
    flex-grow: 1;
    margin: 2rem 0rem;
}

.card>img {
    display: block;
    width: 100%;
}

.card>* {
    margin-bottom: 1rem;
}

.section-fullwidth {
    display: flex;
}

.cubes-container {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    aspect-ratio: 1/1;
}

[class*=cube-] {
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

}

[class*=cube-] img {
    width: 50%;
    color: white;
    display: block;
}

.cube-1 {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.cube-2 {
    background-color: #61082b;
}

.cube-3 {
    background-color: #0093ce;
}

.cube-4 {
    background-color: #ff1c1c;
}

.svg-middle-container {
    padding: 0rem 2rem;
    overflow: auto;
    aspect-ratio: 1/1;

}

.svg-middle-container svg {
    width: 75%;
    display: block;
}

.svg-middle-container>* {
    margin-bottom: 1.5rem;
}

.cube-5 {
    background-color: #d5001f;
}

.cube-6 {
    background-color: #b4d0e7;
}

.cube-7 {
    background-color: #0d2481;
}

.cube-8 {
    background-color: #ffd830;
}

.banner {
    background-color: #b4d0e7;
    margin-top: -50px;
}

.text-banner-container {
    display: flex;
    align-items: center;
}

.text-banner-container .flex-long h2 {
    color: #61082b;
    margin: 0;
}

.flex-short .btn-banner {
    width: 100%;
    border: none;

}

.q-and-a h3 {
    margin: 2rem 0rem;
    display: inline-block;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question i {
    padding: 2rem;
}

.q-and-a-title {
    margin: 2em 0em;
}

.hr-question {
    width: 100%;
    height: 1px;
    background-color: #999999;
}

footer {
    padding-top: 50px;
    background-color: #000000;
    color: white;
    width: 100%;
}

footer ul li:first-child {
    list-style: none;
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 20px;
}

footer ul li {
    margin: 0.5rem 0rem;
    list-style: none;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lists-container {
    display: flex;
    column-gap: 2rem;
    padding-bottom: 50px;
}

footer ul {
    flex-grow: 1;
}

.country {
    padding: 2rem 0rem;
}

.country>* {
    display: inline-block;
}


/* Effetti */

.dropdown {
    background-color: #f2eee8;
    position: absolute;
    transform: translateY(-400px);
    transition: 1s;
    z-index: 0;
    width: 100%;

}

.dropdown ul li {
    list-style: none;
    padding: .5rem;

}

.list-container>ul>li a:hover+.dropdown {
    transform: translateY(0px);
    position: absolute;
}